<% layout('/layouts/boilerplate') %> 
<form action="/campgrounds" method="POST">
  <label for="location">Campground Location</label>
  <select name="location">
    <% for (location of locations) { %>
    <option><%= location.city %>, <%= location.state %></option>
    <% } %>
  </select>
  <label for="title">Campground Name:</label>
  <input id="title" name="title" type="text" />
  <button>Submit</button>
</form>

<a href="/campgrounds"><button>Go Back</button></a>
